
@mixin font-size($size: 24, $base: 16){
	font-size: $size + px;
	font-size: ($size/$base) * 1rem;
}

@mixin transition-timing-function($timing){
	-webkit-transition-timing-function: $timing;
	   -moz-transition-timing-function: $timing;
	    -ms-transition-timing-function: $timing;
	     -o-transition-timing-function: $timing;
	        transition-timing-function: $timing;
}

@mixin animation($animation){
	-webkit-animation: $animation;
	   -moz-animation: $animation;
	    -ms-animation: $animation;
	     -o-animation: $animation;
	        animation: $animation;
}

@mixin transition-duration($duration){
	-webkit-transition-duration: $duration;
	   -moz-transition-duration: $duration;
	    -ms-transition-duration: $duration;
	     -o-transition-duration: $duration;
	        transition-duration: $duration;
}

body{
	margin: auto;
	text-align: center;
	background-color: #d2d2d2;
}

.gelatin-btn{
	display: inline-block;
	margin: 8em;
	padding: .6em;
	font-family: Arial;
	@include font-size(26);
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 3px;
	background-color: #fe4365;
	-webkit-box-shadow: 0 0 0 -2px #d2d2d2, 0 0 0 -1px #fe4365;
	   -moz-box-shadow: 0 0 0 -2px #d2d2d2, 0 0 0 -1px #fe4365;
	    -ms-box-shadow: 0 0 0 -2px #d2d2d2, 0 0 0 -1px #fe4365;
	     -o-box-shadow: 0 0 0 -2px #d2d2d2, 0 0 0 -1px #fe4365;
	        box-shadow: 0 0 0 -2px #d2d2d2, 0 0 0 -1px #fe4365;

	-webkit-transition: -webkit-box-shadow .3s;
	   -moz-transition: -moz-box-shadow .3s;
	     ms-transition: -ms-box-shadow .3s;
	      o-transition: -o-box-shadow .3s;
	        transition: box-shadow .3s;

	&:hover, &:focus{
		-webkit-box-shadow: 0 0 0 2px #d2d2d2, 0 0 0 4px darken(#ff1d74, 5%);
		   -moz-box-shadow: 0 0 0 2px #d2d2d2, 0 0 0 4px darken(#ff1d74, 5%);
		    -ms-box-shadow: 0 0 0 2px #d2d2d2, 0 0 0 4px darken(#ff1d74, 5%);
		     -o-box-shadow: 0 0 0 2px #d2d2d2, 0 0 0 4px darken(#ff1d74, 5%);
		        box-shadow: 0 0 0 2px #d2d2d2, 0 0 0 4px darken(#ff1d74, 5%);
		@include transition-timing-function(cubic-bezier(.6,4,.3,.8));
		@include animation (gelatine .5s 1);
	}

}

@keyframes gelatine{
	from,to {
		-webkit-transform: scale(1,1);
		   -moz-transform: scale(1,1);
		    -ms-transform: scale(1,1);
		     -o-transform: scale(1,1);
		        transform: scale(1,1);
	}
	25% {
		-webkit-transform: scale(.9,1.1);
		   -moz-transform: scale(.9,1.1);
		    -ms-transform: scale(.9,1.1);
		     -o-transform: scale(.9,1.1);
		        transform: scale(.9,1.1);
	}
	50% {
		-webkit-transform: scale(1.1,.9);
		   -moz-transform: scale(1.1,.9);
		    -ms-transform: scale(1.1,.9);
		     -o-transform: scale(1.1,.9);
		        transform: scale(1.1,.9);
	}
	75% {
		-webkit-transform: scale(.95,1.05);
		   -moz-transform: scale(.95,1.05);
		    -ms-transform: scale(.95,1.05);
		     -o-transform: scale(.95,1.05);
		        transform: scale(.95,1.05);
	}
}
